<Router AppAssembly="typeof(Layout.MainLayout).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <div>You are not authorized.</div>
            </NotAuthorized>
            <Authorizing>
                <div>Authorizing...</div>
            </Authorizing>
        </AuthorizeRouteView>>
        <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
</Router>